/** ===============  Variables =============== **/
$black:#2b2b2b;
$text:#666;
$white:#fffefe;
$dark-blue: #00417a;
//== Typography



//## Font, line-height, and color for body text, headings, and more.
$font-family-primary : 'Verdana,Helvetica,sans-serif';
$font-family-secon : 'Verdana,Helvetica,sans-serif';
 